:root {
    --merah: #dc3545;
}

body {
    font-family: 'poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
}

.gerak {
    font-weight: 500;
    font-size: 14px;
    border-bottom: 0%;
    transition: all 0.3s ease;
}

.gerak:hover {


    border-bottom: 12%;
    background: #dc3545;
}

.text-content {
    letter-spacing: 0.4px;
    color: gray;
}

.mb-5 {
    padding: 2px 10px;
}