body {

    font-family: 'poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
}

.container {
    padding: 0.2em;


}

.nav-link {
    font-weight: 500;
    font-size: 14px;
}


.main-header {
    font-size: 40px;
    font-weight: bold;
}

.text-content {
    letter-spacing: 0.4px;
    color: gray;
    text-align: right;
}

.gerak:hover {
    text-decoration: none;
    border-bottom: 0.1em solid #dc3545;
    transition: 0.5s ease;
}

.section-header {
    font-weight: bold;
}

.main-header {
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

.deaLogo {
    object-fit: cover;
    width: 50%;
    padding-left: 1em;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}